
/*----- 
 STYLE
-----*/

/* DECODER style */

body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

#MicInputPanel {
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
}

#SetInfoPanel {
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
}


#OutputPanel {
  font-family: sans-serif;
  font-size: 16px;
}

#OutputPanel .panel {
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
    background-color: rgb(247, 252, 253);
}

#history-wrap {
  min-height: 60px;
  max-height: 60px;
  overflow: scroll;
  margin-bottom: 1em;
}

#historyMsg {
  font-family: sans-serif fixed;
  font-size: 11px;
  min-height: 5em;
  padding-bottom: 0em;
}

#say {
  margin: 0.2em;
  border: 1px solid #ddd;
}

#fileReceiverMsg {
  font-family: sans-serif fixed;
  font-size: 11px;
  font-size: 12px;
  padding: 0.1em;
  background: #eee;
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 8px;
  visibility: hidden;

}

.dasboard__menu a {
    text-decoration: none;
}
.dasboard__menu a:hover {
    text-decoration: underline;
}

.textInput { width: 50; }

canvas { position: relative; }


.reveal-modal-bg {
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0,0,0,.45);
    z-index: 17
}

.reveal-modal,.reveal-modal-bg,dialog {
    position: absolute;
    top: 0;
    display: none;
    left: 0
}

.reveal-modal,dialog {
    visibility: hidden;
    z-index: 18;
    width: 100vw;
    border-radius: 3px;
    background-color: #fff;
    padding: 1.25rem;
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    padding: 1.875rem
}

@media only screen and (max-width: 40em) {
    .reveal-modal,dialog {
        min-height:100vh
    }
}

@media only screen and (max-width: 768px) {
    #nav-dashboard,
    #nav-asymCypher,
    #nav-signature,
    #nav-symCypher,
    #nav-otpCypher,
    #nav-tools {
        display: none;
    }
}


.reveal-modal .column,.reveal-modal .columns,dialog .column,dialog .columns {
    min-width: 0
}

.reveal-modal>:first-child,dialog>:first-child {
    margin-top: 0
}

.reveal-modal>:last-child,dialog>:last-child {
    margin-bottom: 0
}

.reveal-modal.radius,dialog.radius {
    border-radius: 3px
}

.reveal-modal.round,dialog.round {
    border-radius: 1000px
}

.reveal-modal.collapse,dialog.collapse {
    padding: 0
}

@media only screen and (min-width: 40.063em) {
    .reveal-modal.xlarge,dialog.xlarge {
        width:95%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto
    }
}

.reveal-modal.full,dialog.full {
    top: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none!important;
    margin-left: 0!important
}

.reveal-modal .close-reveal-modal,dialog .close-reveal-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: .625rem;
    right: 1.375rem;
    color: #aaa;
    font-weight: 700;
    cursor: pointer
}


/* GLOBAL STYLE */

mark {
    background-color: #e6f1fb;
    color: rgb(11, 110, 253);
}

#navbar-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

ul.dasboard__menu {
    list-style: none;
}

.dashboard__bi {
    color: #0d6efd;
}

.block-first {
    padding-top: 120px;
}

.h2,
.h3,
.h4 {
    margin-top: 30px;
}

.mgt-5 {
    margin-top: 5px;
}

.btn__nav {
    margin-bottom: 5px;
}

#waveform {
    background-color: #f4f3f4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    display: block;
    margin: auto;
    width: 25%;
}

.qrcode__img {
    outline: gray;
    padding: 30px;
}

.qrcode__pad {
    padding: 12px;
}

.btn__copy {
    margin-top: 5px;
}

#morseTxTab canvas {
    background-color: rgb(234, 236, 239);
}

.containerOsci {
    overflow-x: scroll;
}

.containerOsci canvas {
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
}

.btn-warning,
.btn-danger {
    text-transform: uppercase;
}

/*------------- 
 Mouse entropy 
--------------*/
#randogram {
    cursor: wait;
    touch-action: none;
    overflow: hidden;
}

.entropyPool {
    margin: 0 auto;
    width: 512px;
    pointer-events: auto;
}

#containerSalt {
    overflow-x: scroll;
}

.containerSpectrogram {
    overflow-x: scroll;
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
    margin-bottom: 10px;
    background-color: rgb(247, 252, 253);
}

#progress {
    background: #dddddd;
    width: 512px;
}

#progressBar {
    background: #0088FF;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    max-width: 512px;
    text-align: center;
    width: 0%;
}

@media (max-width: 1024px) {
    .navbar-brand {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .block-first {
        padding-top: 160px;
    }
}